# Purchase prediction with dynamic pricing for behavioural consumer segments

In [1]:
## Imports

# Data cleaning and Preprocessing
import pandas as pd
from dask import dataframe

# Machine Learning
import sklearn
import dask_ml

# Visualisation
import plotly
import matplotlib.pyplot as plt

## Reading Dataset

In [4]:
df = dataframe.read_csv('dataset/brazil_dataset/Sales Report.csv', delimiter=";")
df.head()

,Company Code,Order Number,Employee,Product,Product Category,Client,Client City,Sale Date Time,Product Cost,Discount Amount,Amount,Total,Form of payment
0,39000,12,Stacy Day,Special Gasoline,Fuel,Customer not informed,No City,2017-03-31 04:10:00,3.050,0.0,5.642,20.02,Money
1,39000,21,Olive Stevenson,Special Diesel,Fuel,Customer not informed,No City,2017-03-31 04:13:00,2.510,0.0,125.045,350.00,Debit Card
2,39000,38,Stacy Day,Special Diesel,Fuel,Customer not informed,No City,2017-03-31 04:25:00,2.510,0.0,35.699,99.92,Money
3,39000,39,Olive Stevenson,Lubricant 1108,Lubricant,Customer not informed,No City,2017-03-31 04:26:00,7.409,0.0,1.000,13.00,Money
4,39000,39,Olive Stevenson,Diesel Auto Clean,Fuel,Customer not informed,No City,2017-03-31 04:26:00,2.560,0.0,42.162,120.96,Money

## Data Cleaning

In [6]:
# https://docs.dask.org/en/latest/dataframe-api.html
df.info(verbose=True, memory_usage=True)

<class 'dask.dataframe.core.DataFrame'>
Int64Index: 26951165 entries, 0 to 283451
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company Code      26951165 non-null      int64
 1   Order Number      26951165 non-null      int64
 2   Employee          26951165 non-null      object
 3   Product           26951165 non-null      object
 4   Product Category  26951165 non-null      object
 5   Client            26951165 non-null      object
 6   Client City       26951165 non-null      object
 7   Sale Date Time    26951165 non-null      object
 8   Product Cost      26951165 non-null      float64
 9   Discount Amount   26951165 non-null      float64
10   Amount            26951165 non-null      float64
11   Total             26951165 non-null      float64
12   Form of payment   26951165 non-null      object
dtypes: object(7), float64(4), int64(2)
memory usage: 2.6 GB

In [15]:
# Taking company 39000 since this framework is supposed to be used by companies on their own data
df = df[df["Company Code"] == 39000]
df.info(verbose=True, memory_usage=True)

<class 'dask.dataframe.core.DataFrame'>
Int64Index: 2456699 entries, 0 to 283448
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company Code      2456699 non-null      int64
 1   Order Number      2456699 non-null      int64
 2   Employee          2456699 non-null      object
 3   Product           2456699 non-null      object
 4   Product Category  2456699 non-null      object
 5   Client            2456699 non-null      object
 6   Client City       2456699 non-null      object
 7   Sale Date Time    2456699 non-null      object
 8   Product Cost      2456699 non-null      float64
 9   Discount Amount   2456699 non-null      float64
10   Amount            2456699 non-null      float64
11   Total             2456699 non-null      float64
12   Form of payment   2456699 non-null      object
dtypes: object(7), float64(4), int64(2)
memory usage: 262.4 MB

In [17]:
# Removing unnecessay columns
df = df.drop(["Company Code", "Employee"], axis=1)
df.head()

,Order Number,Product,Product Category,Client,Client City,Sale Date Time,Product Cost,Discount Amount,Amount,Total,Form of payment
0,12,Special Gasoline,Fuel,Customer not informed,No City,2017-03-31 04:10:00,3.050,0.0,5.642,20.02,Money
1,21,Special Diesel,Fuel,Customer not informed,No City,2017-03-31 04:13:00,2.510,0.0,125.045,350.00,Debit Card
2,38,Special Diesel,Fuel,Customer not informed,No City,2017-03-31 04:25:00,2.510,0.0,35.699,99.92,Money
3,39,Lubricant 1108,Lubricant,Customer not informed,No City,2017-03-31 04:26:00,7.409,0.0,1.000,13.00,Money
4,39,Diesel Auto Clean,Fuel,Customer not informed,No City,2017-03-31 04:26:00,2.560,0.0,42.162,120.96,Money

In [18]:
len(df["Client"].unique().compute())

1876

## EDA and Descriptive Analytics

## Clustering

### Feature Engineering

### K-Means

### DBSCAN (Maybe)

## Classification

### Feature Engineering

### Hyperparameter Optimization

### Model Development

## Evaluation